* {
	font-size: 11px;
	line-height: 2;
}

html, body {
	height: 100%;
	margin: 0;
}

leaflet {
	margin-left: 600px;
	display: block;
	min-height: 100%;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

#wktcontent {
	width: 100%;
}

.loading {
	font-style: italic;
}

.input-group {
	margin-bottom: 15px;
}

.leaflet-container { 
	cursor: crosshair;
}

#log {
	margin-top: 10px;
	height: 100px;
	width: 100%;
	resize: none;
}

#wrapper {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	background-color: "#ffffff";
	width: 600px;
	padding: 10px;
    height: 100%;
    overflow: scroll;
}

.point {
	cursor: pointer;
}